ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: yellowgreen;
    }
    
    li {
        float: left;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover {
        background-color: green;
    }

    table, th , td, tr {
            border: 1px solid black; 
            padding: 15px;
            border-spacing: 10px;
        }
        
        thead{color: blue;}
        tbody{color: green;}
        tfoot{color: purple;}

        a:link {
            color: green;
            background-color: transparent;
            text-decoration: none;
            }
            a:visited {
                color: blue;
                background-color: transparent;
                text-decoration: none;
            }
            a:hover {
                color: purple;
                background-color: transparent;
                text-decoration: underline;
            }
            a:active {
                color: yellow;
                background-color: transparent;
                text-decoration: underline;